/*html{*/
/*  background-color: black;*/
/*  animation: back infinite 5s linear;*/
/*}*/
@font-face {
  font-family: 'ChosunBg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html *{
  font-family: 'ChosunBg';
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}



@keyframes scale {
  from {
    scale: 0.2;
    color: blue;
    background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
  }
  to {
    scale: 1;
    color: violet;
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
  }
}

.App-text{
  animation: scale infinite 1s;
}

animation {
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes back{
  0%{
    background-color: #f64f59;
  }
  10%{
    background-color: yellow;
  }
  20%{
    background-color: green;
  }
  30%{
    background-color: blue;
  }
  40%{
    background-color: purple;
  }
  50%{
  
    background-color: #12c2e9;
  }
  60%{
    background-color:wheat;
  }
  70%{
    background-color:brown;
  }
  80%{
    background-color:darkgoldenrod;
  }
  90%{
    background-color: #c471ed;
  
  }
  100%{
    background-color: black;
  }
}


ul.menu li{
  float: left;
  width: 250px;
  height: 60px;
  line-height: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 10px;
  list-style: none;
  background-color: black;
}

ul.menu li a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

ul.menu li:hover{
  background-color: #f64f59;
  box-shadow: 5px 5px 5px gray;
  border: 2px solid #F7E600;
}

ul.menu li a:hover{
  color: aliceblue;
}

div.login{
  margin:100px 100px;
  border: 5px solid gray;
  width:320px;
  border-radius: 10px;
}

.addr_btn{
  margin-top: 50px;
  width: 250px;
  height: 60px;
  line-height: 50px;
  margin-left: 35px;
  border-radius: 10px;
  border: none;
  background-color: #e685b5;
  color: white;
  font-size: 30px;
  font-family: 'ChosunBg';
  box-shadow: 0 15px 15px #f64f59;
}

.addr_btn:hover{
  scale: 1.1;
}

.form_btn{
  border: none;
  line-height: 30px;
  background-color: #F7E600;
  border-radius: 30px;
  color: white;
  font-weight: bold;
}

.form_btn:hover{
  scale: 1.3;
}

.table_form{
  margin-left: 50px;
  margin-top: 50px;
}

@keyframes blinking {
  0% { opacity: 1; transform: scale(1); }
  50% { opacity: 0.5; transform: scale(1.2); }
  60% {transform: scale(1.5);}
  100% { opacity: 1; transform: scale(1); }
}

.blinking-text {
  animation: blinking 1s infinite;
  color: #F7E600;
  font-weight: bold;
  font-size: 20px;
}

