/*html{*/
/*  background-color: black;*/
/*  animation: back infinite 5s linear;*/
/*}*/

.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: translate(120px, 50px);
  }
  to {
    transform: translate(20px, 500px);
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(3turn);
  }
}
@keyframes translate-x {
  from {
    transform: translateX(-25vmin);
  }
  to {
    transform: translateX(25vmin);
  }
}
@keyframes translate-y {
  from {
    transform: translateY(-30vmin);
  }
  to {
    transform: translateY(15vmin);
  }
}

@keyframes scale {
  from {
    scale: 0.2;
    color: blue;
    background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
  }
  to {
    scale: 1;
    color: violet;
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
  }
}

.App-text{
  animation: scale infinite 1s;
}

animation {
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes back{
  0%{
    background-color: #f64f59;
  }
  10%{
    background-color: yellow;
  }
  20%{
    background-color: green;
  }
  30%{
    background-color: blue;
  }
  40%{
    background-color: purple;
  }
  50%{
  
    background-color: #12c2e9;
  }
  60%{
    background-color:wheat;
  }
  70%{
    background-color:brown;
  }
  80%{
    background-color:darkgoldenrod;
  }
  90%{
    background-color: #c471ed;
  
  }
  100%{
    background-color: black;
  }
}

ul.menu li{
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 10px;
}

ul.menu li a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul.menu li:hover{
  background-color: darkcyan;
  box-shadow: 5px 5px 5px gray;

}

ul.menu li a:hover{
  color: aliceblue;
}

div.login{
  margin:100px 100px;
  border: 5px solid gray;
  width:320px;
  border-radius: 10px;
}
